<form action="/" method="POST">
    <input type="text"   id="task"   name="task" size="80"></input>
    <input type="submit" id="save"   name="save" value="Save"></input>
    <input type="submit" id="backlog" name="backlog" value="Backlog"></input>
    <input type="submit" id="done"   name="done" value="Done"></input>
    <input type="submit" id="abort"  name="abort" value="Abort"></input>
    <input type="submit" id="delete" name="delete" value="Delete"></input>
    <input type="date"   id="cfdate" name="cfdate"></input>
    <input type="submit" id="move"   name="move" value="Move"></input>
    <input type="submit" id="init" name="init" value="Init"></input>

    <table border="1">
        <thead>
            <tr>
                <th class="id">ID</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            {{#each tasks}}
            <tr>
                <td class="id"><input type="checkbox" name="selected" value="{{id}}">&nbsp;{{id}}</input></td>
                <td>{{title}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>