<form action="/login" method="POST">
    <div>
        <div class="label">Login: </div><input type="text" placeholder="User" id="login" name="login" size="50"></input>
    </div>
    <div>
        <div class="label">Password: </div><input type="password"  placeholder="Password" id="password" name="password" size="50"></input>
    </div>
    
    <input type="submit" id="done"   name="done" value="Login"></input>
</form>