body {
  padding-left: 100px;
  padding-right: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: xx-large;
  width: 100%;
  margin: 10px auto;
  padding: 7px auto;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgray;
}

h2 {
  font-size: medium;
  width: 100%;
  margin: 10px auto;
  padding: 7px auto;
  padding-bottom: 5px;
  text-align: right;
  border-bottom: 1px solid lightgray;
}

h2.error {
  font-size: smaller;
  width: 100%;
  margin: 10px auto;
  padding: 10px auto;
  padding-bottom: 5px;
  text-align: center;
  color: red;
  border-bottom: 1px solid lightgray;
}

.center {
  width: 100%;
  margin: 10px auto;
  text-align: center;
}

table {
  margin-top: 5px;
	border-collapse: collapse;
  width: 100%;
}

table td {
	padding: 7px;
  text-align: left;
}

table th {
	padding: 7px;
  text-align: left;
}

.small {
	width: 60px;
  text-align: left;
}

.medium {
	width: 120px;
  text-align: left;
}

div.label {
  padding: 3px;
  padding-right: 3px;
  width: 150px;
  max-width: 150px;
  display: inline-block;
  margin: 3px;
  /* background-color: lightgray; */
  text-align: right;
}

a.signout {
  font-size: smaller;
  text-decoration: none;
}

input {
  padding: 5px;
  margin: 5px;
}

select {
  padding: 5px;
  margin: 5px;
}

label {
  padding: 5px;
  margin: 5px;
  width: 150px;
  max-width: 150px;
}

div.container {
  text-align: left;
}
